* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

}

.form-section {
    margin: 0 auto;
}

form {
    color: white;
    text-align: center;
    align-items: center;
    background:  linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)) url("../img-php/ecommerce.jpg");;
    height: 400px;
    width: 600px;
    margin: 200px auto;
    padding: 20px 0;
    border-radius: 10px;
}

form > div > img {
}


input {

}